.main{
background-color: grey;
width: 615px;
height: 500px;
margin-left: 400px;
margin-top: 50px;
box-shadow: 2px 2px 15px  black;
border: 1px solid rgba(0, 0, 0, 0.712);
}
.inp{
width: 98%;
height: 80px;
margin: 5px;
margin-bottom: 20px !important;

}
.heading{
    text-align: center;
    text-shadow: 2px 2px 4px black;  
    color: white;
    margin-top: 10px;
}
.btn-lg{
    width: 140px !important;
    height: 50px !important;
    margin: 4px !important;
}
@media only screen and (max-width: 900px){
    .main{
        margin-left: 300px !important;
    }
}
@media only screen and (max-width: 600px){
    .main{
        margin-left: 200px !important;
    }
}
@media only screen and (max-width: 300px){
    .main{
        margin-left: 100px !important;
    }
}
